* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: lightblue;
    font-size: 1rem;
    text-align: justify;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh; 
}
p {
    font-family: "Source Sans Pro", sans-serif;
    margin: 10px 0px;
    /*text-indent: 30px;*/
}
.section {
    margin-top: 35px;
    margin-left: 80px;
    margin-bottom: 50px;
    margin-right: 80px;
    height: auto;

}
ul {
    list-style: none;
}
a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }
h6 {
    font-size: 0.85rem;
}


/* BODY */
 .latest-col {
    position: relative;

}
#latest-img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    /*object-position: bottom;*/
}
#latest-news {
    position: absolute;
    background: rgba(255, 255, 255, 0.658);
    width: 50%;
    margin-top: -100px;
    margin-left: 50px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}
#latest-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.70rem;
    font-weight: 600;
}

.grid-container {
    margin-top: 1.9rem;
    padding: 70px;
    grid-gap: 2rem;

    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;

    justify-content: space-evenly;

}
.grid-item {
    text-align: left ;
    width: 400px;
    border-radius: 10px;
}
#grid-news {
    margin: 0px;
    padding: 20px;
    border: none;
}
#grid-img {
    width: 100%;
    height: 50vh;
    border-radius: 10px 10px 0px 0px;
}
#grid-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#id_name {
    border-radius: 5px;
    border: 0.2rem;
    width: 40%;
}
#id_email {
    border-radius: 5px;
    border: 0.2rem;
    width: 40%;
}
#id_body {
    border-radius: 5px;
    border: 0.2rem;
    width: 70%;
}

.rounded {
    border-radius: 0.4rem !important;
}
.mt-5 {
    font-size: 1.1rem;
}
.footer-container {
   position: relative;
    bottom: 0;
    width: 100%;
}

.py-3 {
    /*padding-top: 1rem!important;
    padding-bottom: 1rem!important;*/
    bottom: 0;
    width: 100%;
}
.my-4 {
    background-color: rgba(136, 161, 170, 0.774);
    margin-top: 1rem!important;
    margin-bottom: 0rem!important;
}

.text-center {
    text-align: center!important;
    color: white!important;
}
.nav-link {
    color: white!important;
}

/*
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
*/

/*.bi {
    vertical-align: -.125em;
    fill: currentColor;
}*/



@media screen and (min-width: 320px) and (max-width: 480px) {
    .section {
        margin-top: 25px;
        margin-left: 1.5rem;
        margin-bottom: 2rem;
        margin-right: 1.5rem;
    }
    #latest-title {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
    }
    #latest-img {
        height: 47vh;
    }
    #latest-news {
        position: relative;
        padding: 20px;
        border: none;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 0px 0px 10px 10px;
    }


    .grid-container {
        padding: 0px;
        margin-top: 40px;
        grid-gap: 2rem;

        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;

        justify-content: space-evenly;

        grid-template-columns: repeat(1,1fr);
       /* padding: 2px;*/

   }
    .grid-item {
        text-align: left ;
        border-radius: 10px;
        width: 100%;
    }
    #grid-img {
        height: 40vh;
    }
    #grid-title {
        font-size: 1rem;
        font-weight: 600;
    }



    #id_name {
        border-radius: 5px;
        border: 0.2rem;
        width: 70%;
    }
    #id_email {
        border-radius: 5px;
        border: 0.2rem;
        width: 70%;
    }
    #id_body {
        border-radius: 5px;
        border: 0.2rem;
        width: 100%;
    }

    .rounded {
        border-radius: 0.4rem !important;
    }
}



@media only screen and (min-width: 481px) and (max-width: 768px){
    .section {
        margin-top: 30px;
        margin-left: 17px;
        margin-bottom: 30px;
        margin-right: 17px;
    }
    #latest-title {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
    }
    #latest-img {
        height: 57vh;
    }
    #latest-news {
        position: relative;
        padding: 20px;
        border: none;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 0px 0px 10px 10px;
    }


    .grid-container {
        padding: 0px;
        margin-top: 40px;
        grid-gap: 2rem;

        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;

        justify-content: space-evenly;

        grid-template-columns: repeat(2,1fr);
/*padding: 2px;*/

   }
    .grid-item {
        text-align: left ;
        border-radius: 10px;
        width: 100%;
    }
    #grid-img {
        height: 40vh;
    }
    #grid-title {
        font-size: 1rem;
        font-weight: 600;
    }

    #id_name {
        border-radius: 5px;
        border: 0.2rem;
        width: 60%;
    }
    #id_email {
        border-radius: 5px;
        border: 0.2rem;
        width: 60%;
    }
    #id_body {
        border-radius: 5px;
        border: 0.2rem;
        width: 80%;
    }

}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .section {
        margin-top: 30px;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-right: 50px;

    }
    #latest-img {
        width: 100%;
        height: 54vh;
        object-fit: cover;
        /*object-position: bottom;*/


    }
    #latest-news {
        position: absolute;
        background: rgba(255, 255, 255, 0.658);
        width: 50%;
        margin-top: -130px;
        margin-left: 50px;
        padding: 20px;
        border: none;
        border-radius: 10px;
    }
    #latest-title {
        font-family: "Poppins", sans-serif;
        font-size: 1.70rem;
        font-weight: 600;
    }


    .grid-container {
        margin-top: 3rem;
        padding: 30px;

        grid-gap: 2rem;

        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;

        justify-content: space-evenly;

    }
    .grid-item {
        text-align: left ;
        width: 100%;
        border-radius: 10px;
    }
    #grid-news {
        margin: 0px;
        padding: 20px;
        border: none;
    }
    #grid-img {
        width: 100%;
        height: 40vh;
        border-radius: 10px 10px 0px 0px;
    }
    #grid-title {
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        font-weight: 600;
    }

    #id_name {
        border-radius: 5px;
        border: 0.2rem;
        width: 40%;
    }
    #id_email {
        border-radius: 5px;
        border: 0.2rem;
        width: 40%;
    }
    #id_body {
        border-radius: 5px;
        border: 0.2rem;
        width: 65%;
    }

}


