* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color:  rgba(136, 161, 170, 0.774);
    z-index: 1000;
    height: 3.8rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    /* background-color: rgba(56, 165, 238, 0.5); */
}
.containerr {
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.logo-containerr {
    /*flex: 1;*/
    display: flex;
    align-items: center;
}
.nav-btnn {
    flex: 3;
    display: flex;
    margin-top: 5px;

}
.nav-linkss {
    flex: 2;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    margin-right: -3.5rem;

}
.search input[type] {
    float: right;
    padding: 5px;
    border: none;
    margin-top: -0.9rem;
    margin-right: 16px;
    font-size: 1rem;
    border-radius: 5px;
}
.logos {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3.5rem;
}
/*.logos:hover a {
    text-color: none;
}*/
.logos span {
    font-weight: 300;
}
.nav-linkss > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links {
    position: relative;
}
.nav-links > a {
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
.nav-links > a > i {
    margin-left: .2rem;
}
.nav-links:hover a {
    transform: scale(1.1);
}
.nav-links:hover > .dropdown, .dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}
.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}
.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}
.hamburger-menu div:before,
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}
.hamburger-menu div:before {
    transform: translateY(-7px);
}
.hamburger-menu div:after {
    transform: translateY(7px);
}
#check {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}
#check:checked ~ .hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}
#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}
#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}



@media screen and (max-width: 920px) {
    .hamburger-menu-container {
        display: flex;
    }
    #check {
        display: block;
    }
    .nav-btnn {
        position: fixed;
        height: calc(14rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: lightblue;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }
    #check:checked ~ .nav-btnn {
        transform: translateX(0);
    }
    #check:checked ~ .nav-btnn .nav-links,
    #check:checked ~ .nav-btnn .search {
        animation: animation .5s ease forwards .6s;
    }
    .nav-linkss {
        flex: initial;
        width: 100%;
    }
    .nav-linkss > ul {
        flex-direction: column;
    }
    .nav-links {
        width: 80%;
        opacity: 0;
        transform: translateY(15px);
    }
    .nav-links > a {
        line-height: 1;
        padding: 1rem 1rem;
    }
    .nav-links:hover > a {
        transform: scale(1);
        background-color: #50a9d6;
    }
    .nav-links:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }
    .nav-links > a > i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }
    .search {
        flex: initial;
        width: 80%;
        padding: 0.8rem 1rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}





