{% extends 'core/base.html' %}


{% block title %} About Me | {% endblock %}

{% block content %}
<main>
    <section class="about-section">
        <div class="about-container">
            <div class="about-header">
                <h3>About Me</h3>
            </div>

            <div class="about">
                <div class="about-img">
                    <img src="https://theblog-bucket.s3.eu-west-2.amazonaws.com/static/images/1.jpg" alt="" >
                </div>

                <div class="about-text">
                    <p>My name is Ayodimeji Kadri, I'm a web developer.
                        This blog is a part of The Portfolio Project. The Portfolio project is
                        basically a series of web application that I will be building with django in the coming months.
                        <br>
                        <br>
                        For enquiries, you can contact me on;
                    </p>
                    <a href="tel:+2348070980000"><i class="fab fa-whatsapp"> +234 807 098 0000</i></a>
                    <a href="mailto:ayodimejia1@gmail.com"><i class="far fa-envelope-open"> ayodimejia1@gmail.com</i></a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}